.aside {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-menu__item {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
  }

  &-button {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background: $color-white;
    border: 1px solid $color-smokie;
    cursor: pointer;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $color-primary;
  }

  &-button:hover {
    background-color: $color-smokie;
  }

  &-tweet {
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;

    &__text {
      margin-bottom: 10px;
      border-bottom: 1px dashed #e5e5e5;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &-link-text {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: $color-primary;
    padding-left: 10px;
  }

  &-socials {
    width: 140px;
  }

  &-friends {
    display: flex;
    flex-direction: column;

    &__title {
      @extend .aside-tweet__text;
    }

    &__description {
      margin-bottom: 15px;
      width: 140px;
      font-size: 10px;
      font-style: italic;
      font-weight: 400;
      line-height: 19px;
    }
  }

  &-link-icon {
    width: 30px;
    height: 30px;
  }
}

@each $icon in tastemakers, blog, the-a-list, contribute, about {
  .#{$icon} {
    background-image: url("../images/svg/#{$icon}.svg");
  }
}
