.aside {
  display: flex;
  flex-direction: column;

  &-button {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background: $color-white;
    border: 1px solid $color-smokie;
    cursor: pointer;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $color-primary;
  }

  &-button:hover {
    background-color: $color-smokie;
  }

  &-tweet {
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
  }

  &-link-text {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }

  &-text-block {
    width: 140px;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
  }

  &-link-icon {
    width: 30px;
    height: 30px;
  }
}

@each $icon in tastemakers, blog, the-a-list, contribute, about {
  .#{$icon} {
    background-image: url("../images/svg/#{$icon}.svg");
  }
}
