.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 205px;
  margin-bottom: 10px;

  &:not(:nth-child(4n)) {
    margin-right: 25px;
  }

  &__text {
    margin-top: 10px;
  }

  &__img {
    width: 200px;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  }

  &__header {
    @include text-style(16px, normal, 400, 21px, -0.02em, left);
    color: $color-primary;
    margin-bottom: 10px;
  }

  &__body {
    margin: 10px 0;
    color: $color-dark;
  }

  &__date {
    color: $color-smokie;
  }

  &__read-more {
    color: $color-primary;
  }

  &__body,
  &__date,
  &__read-more {
    @include text-style(14px, normal, 400, 20px, -0.02em, left);
  }

  &__read-more::after {
    content: "...";
  }
}
