.footer {
  @include d-flex-center();
  justify-content: space-between;
  width: 100%;
  height: 90px;
  margin-top: 40px;
  border-top: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;

  &-links,
  &-copyright {
    @include text-style(12px, normal, 400, 12px, -0.02em, left);
  }

  &-links a::after {
    content: " |";
    color: #e5e5e5;
    cursor: default;
  }

  &-links a:last-child::after {
    display: none;
  }

  &-links__item {
    color: $color-primary;
  }

  &-copyright {
    color: $color-smokie;
  }

  &-socials {
    display: flex;
  }

  &-icon {
    width: 32px;
    height: 32px;
  }
}

@each $icon in tweeter, facebook, rss {
  .footer-icon-#{$icon} {
    background-image: url("../images/svg/#{$icon}.svg");
  }
}
