.tabs {
  display: flex;
  margin-bottom: 30px;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  flex-grow: 1;
  padding-left: 20px;
  color: $color-primary;
  background-color: $color-light;

  &:hover {
    background-color: $color-light-active;
  }

  &-header {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }

  &-description {
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
}
