/*
  main classes
*/

.container {
  background-color: #fff;
  width: 1080px;
  min-height: 1130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.nav {
  width: 140px;
  height: 645px;
  display: flex;
  flex-direction: column;
}

.article {
  width: 900px;
}

.aside-button {
  height: 30px;
  width: 140px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #34aca7;
}

.aside-tweet {
  font-family: Verdana;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.aside-link-text {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.aside-button:hover {
  background-color: #eee;
}

.aside-text-block {
  width: 140px;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.aside-link-icon {
  width: 30px;
  height: 30px;
}

.tastemakers {
  background-image: url(../images/svg/tastemakers.svg);
}

.blog {
  background-image: url(../images/svg/blog.svg);
}

.the-a-list {
  background-image: url(../images/svg/blog.svg);
}

.contribute {
  background-image: url(../images/svg/contribute.svg);
}

.about {
  background-image: url(../images/svg/about.svg);
}

.baner {
  background: url("../images/main-picture.png");
  max-width: 900px;
  height: 445px;
  position: relative;
  background-size: cover;
}

.baner__inner {
  position: absolute;
  top: 63%;
}

.baner__header {
  background-color: #ffffff;
  color: #000000;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  z-index: 2;
  width: 270px;
  padding: 10px 0;
}

.banner__description {
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 2;
  width: 480px;
  padding: 10px 0;
}

.tabs {
  max-width: 900px;
}

.tab {
  width: 225px;
  padding: 5px;
  padding: 20px;
}

.tab:hover {
  background-color: #d9efec;
}

.tab-header {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.tab-description {
  font-size: 10px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.sign-up__icon {
  background-image: url(../images/svg/signUp.svg);
  width: 32px;
  height: 26px;
}

.sign-up__description {
  width: 530px;
  height: 32px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.sign-up__input {
  width: 160px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
}

.sign-up__button {
  width: 80px;
  height: 23px;
  background: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 10px;
}

.subscribe-box {
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
  padding: 10px 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 205px;
  margin-bottom: 10px;
}

.card:not(:nth-child(4n)) {
  margin-right: 25px;
}

.card__img {
  width: 200px;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.card__header {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 10px;
}

.card__body,
.card__date,
.card__read-more {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}

.card__read-more::after {
  content: "...";
}
