.baner {
  background: url("../images/main-picture.png");
  height: 445px;
  position: relative;
  background-size: cover;

  &__inner {
    position: absolute;
    top: 63%;
  }

  &__header {
    background-color: #ffffff;
    color: #000000;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    z-index: 2;
    width: 270px;
    padding: 10px 0;
  }

  &__description {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 2;
    width: 480px;
    padding: 10px 0;
  }
}
