@import "./_variables.scss";
@import "./_mixins.scss";
@import "./components/_aside.scss";
@import "./components/_baner.scss";
@import "./components/_tabs.scss";
@import "./components/_subscribe.scss";
@import "./components/_cards.scss";
@import "./components/_footer.scss";
@import "./_helpers.scss";
@import "./media/_media.scss";

.container {
  background-color: $color-white;
  width: 1080px;
  min-height: 1130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
