.game-over {
  background-color: #000;
  width: 100%;
  height: 90vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    text-transform: uppercase;
  }
}

.skull {
  font-size: 128px;
  color: #fff;
}
